body{
  font-family: Arial, sans-serif; 
}

.auth-page{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.auth-card{
  width:420px;
  background:white;
  border:1px solid #ccc;
  border-radius:10px;
  padding:35px;
}

.auth-card h2{
  text-align:center;
  margin-bottom:25px;
}

.auth-card label{
  display:block;
  margin-top:15px;
  font-size:14px;
}

.auth-card input{
  box-sizing: border-box;
  width: 100%;
  padding:10px;
  margin-top:5px;
  border:1px solid #ccc;
  border-radius:4px;
}

.primary-btn{
  width:100%;
  padding:12px;
  margin-top:20px;
  background:#1f2b3a;
  color:white;
  border:none;
  cursor:pointer;
}

.microsoft-btn{
  width:100%;
  padding:12px;
  margin-top:15px;
  background:#e8e8e8;
  border:none;
  cursor:pointer;
}

.auth-links{
  display:flex;
  justify-content:space-between;
  margin-top:15px;
}

.info-box{
  border:1px solid #ccc;
  padding:12px;
  margin-bottom:15px;
}

.back-link{
  display:block;
  text-align:center;
  margin-top:20px;
}

.error{
  color:red;
  font-size:14px;
  margin-bottom:10px;
}