.login-page {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background: url("../../src/assets/login_bg.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 50px;
  color: var(--color-text-light);
}

.login-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(15, 15, 20, 0.8),
    rgba(147, 51, 234, 0.4)
  );
}

.overlay {
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.overlay h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 18px;
  margin-bottom: 5px;
}

.overlay span {
  font-size: 14px;
  opacity: 0.8;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6B21A8;
}

.login-card {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  color: var(--color-text-light);
}

.subtitle {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 5px;
}

.login-card h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.9;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.9);
  color: var(--color-text-primary);
  transition: 0.2s;
}

.login-card input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

.forgot {
  display: block;
  text-align: right;
  font-size: 13px;
  margin-bottom: 20px;
  color: var(--color-text-light);
  transition: 0.2s;
}

.forgot:hover {
  color: var(--color-primary);
}

.primary-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: var(--color-bg-secondary);
  color: var(--color-text-light);
  cursor: pointer;
  transition: 0.2s;
}

.primary-btn:hover {
  background: var(--color-primary);
}

.microsoft-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  background: var(--color-white);
  color: var(--color-text-primary);
  cursor: pointer;
  transition: 0.2s;
}

.microsoft-btn:hover {
  background: var(--color-bg-primary);
}

.bottom-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--color-text-light);
}

.bottom-text a {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  transition: 0.2s;
}

.bottom-text a:hover {
  color: #cc1f73;
}

.error {
  background: rgba(255, 0, 0, 0.15);
  color: #ffb3b3;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}