.project-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Info block */
.project-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Button at bottom */
.project-card button {
  margin-top: 10px;
  padding: 10px;
}