.reset-page {
  display: flex;
  height: 100vh;
}

.reset-left {
  flex: 1;
  background: url("../../src/assets/forgetpass_bg.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  color: white;
}

.overlay h1 {
  font-size: 2.5rem;
}

.overlay p {
  font-size: 1.1rem;
}

.overlay span {
  font-size: 0.9rem;
  opacity: 0.8;
}

.reset-right {
  flex: 1;
  background: #6B21A8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-content {
  width: 100%;
  max-width: 26rem;
  color: white;
}

.small-text {
  font-size: 0.9rem;
  opacity: 0.8;
}

.reset-content h2 {
  font-size: 2.2rem;
}

.subtitle {
  margin-bottom: 1.5rem;
}

.reset-content input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.6rem;
  border: none;
  margin-bottom: 1rem;
}

.reset-content input:focus {
  border: 0.12rem solid var(--color-primary);
}

.primary-btn {
  width: 100%;
  padding: 0.9rem;
  background: #0f172a;
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: var(--color-primary);
}

.back-link {
  display: block;
  margin-top: 1.2rem;
  text-align: center;
  color: white;
}

.back-link:hover {
  color: var(--color-primary);
}

.info-box {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.error {
  background: #a82121;
  color: #ffb4b4;
}

.success {
  color: #b4ffcc;
}