.create-project-page {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.subtitle {
  margin-bottom: 20px;
}

/* Cards */
.card {
  background: #f8f9fc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card label {
  margin-bottom: -1rem;
}

/* Layout */
.project-layout {
  display: flex;
  gap: 20px;
}

.project-layout .card {
  flex: 1;
}

/* Inputs */
input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input:focus {
  border: 0.125rem solid var(--color-primary);
  outline: none;
}

.create-work-package {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.work-package-name {
  width: 70%;
}

.work-package-hours {
  width: 25%;
}

.submit-work-package {
  height: 2.5rem;
  position: relative;
  top: 0.4rem;
}

/* Users */
.user-list {
  margin-top: 15px;
}

.user-item,
.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  margin-top: 10px;
  border-radius: 8px;
  background: #ffffff;
}

.selected-item {
  background: #FAF5FF;
  border-radius: 8px;
  border: 1px solid #E9D5FF;
}

/* Buttons */
button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #FF595A;
  color: var(--color-white);
}

.btn-delete {
  background: transparent;
  color: #ff595a;
  font-size: 18px;
  padding: 0;
}

.btn-back {
  background: transparent;
  color: var(--color-text-primary);
  font-size: 16px;
  padding: 0;
  margin-bottom: 20px;
}

/* Create button */
.create-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-weight: bold;
  background: var(--color-accent);
  color: var(--color-white);
}

/* Disabled state */
.create-btn.disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Empty text */
.empty {
  text-align: center;
  margin-top: 20px;
}